

<link rel="stylesheet" href="{{ site.url }}/assets/css/content.extend.css">

<!-- <link rel="stylesheet" href="{{ site.url }}/assets/grid-layout/babylongrid-default.css"> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.url }}/assets/grid-layout/jquery.babylongrid.min.js"></script>

<div class="container">
	<div id="babylongrid">

		<article class="grid_tile">
			<div class="h3 title"> 
				<img src="{{ site.url }}/images/bio-photo1.jpg"/>
			 </div>
			<div class="grid_desc">
            Renien has spent the last decade working with data; designing Big Data management and Data Science algorithms. He carries out work on data and loves to learn about new domains in order to build the perfect solution.
            </div>
		</article>
		 
		<article class="grid_tile">
			<div class="h3 title">
				Latest Posts
			</div>
			<div class="grid_desc">
			<ul class="post-list">
				{% for post in site.posts limit:10 %} 
				  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
				{% endfor %}
				</ul>
			</div>
		</article>
	</div>
</div>



<script>
	(function($){

		$('#babylongrid').babylongrid({
			
			display: null, // 'tower' or 'city'. Set vertical align to bottom or center
			firstToRight: false, // Move first article to last column
			heightDivisor: 25, // Article height divisor. For disable set 1
		});

	}(jQuery));

		</script>