

<link rel="stylesheet" href="{{ site.url }}/assets/css/content.extend.css">

<!-- <link rel="stylesheet" href="{{ site.url }}/assets/grid-layout/babylongrid-default.css"> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.url }}/assets/grid-layout/jquery.babylongrid.min.js"></script>

<div class="container">
	<div id="babylongrid">

		<article class="grid_tile">
			<div class="h3 title"> 
				<img src="{{ site.url }}/images/post/profile-pic.jpg"/>
			 </div>
			<div class="grid_desc"> Renien is a software engineer and a practitioner of agile. He's interested & carries out work on computer vision, gestural interaction, artificial intelligence, augmented reality, & ubiquitous computing.</div>
		</article>
		 
		<article class="grid_tile">
			<div class="h3 title">
				Latest Posts
			</div>
			<div class="grid_desc">
			<ul class="post-list">
				{% for post in site.posts limit:10 %} 
				  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
				{% endfor %}
				</ul>
			</div>
		</article>
	</div>

	<div id="babylongrid2">

		<article class="grid_tile">
		<div class="h3 title"> 
			Project E-Remote 
			<div class="sub-title">
				SMS Based Home and PC Automation System
			</div>
		</div>
		<div class="grid_desc">
			A simple home and PC automation solution to control your home and PC from elsewhere. This solution gives ability to control any home appliances using SMS...(Read More)
		</div>
		</article>

		<article class="grid_tile">
		<div class="h3 title"> 
			Project V-Lab 
			<div class="sub-title">
				Augmented Reality Science Laboratory
			</div>
		</div>
		<div class="grid_desc"> Description 3 </div>
		</article>

		<article class="grid_tile">
		<div class="h3 title"> 
			Project Value Life 
			<div class="sub-title">
				An Interactive Web Based First Aid Trainer
			</div>
		</div>
		<div class="grid_desc"> Description 3 </div>
		</article>

		<article class="grid_tile">
		<div class="h3 title"> 
			Build-IT 
			<div class="sub-title">
				An Interactive Web Application for 3D Construction & Interior and Exterior Design(Link)
			</div>
		</div>
		<div class="grid_desc"> Description 3 </div>
		</article>
	 
	</div>
</div>



<script>
	(function($){

		$('#babylongrid').babylongrid({
			
			display: null, // 'tower' or 'city'. Set vertical align to bottom or center
			firstToRight: false, // Move first article to last column
			heightDivisor: 25, // Article height divisor. For disable set 1
		});

		$('#babylongrid2').babylongrid({
			scheme: [
				{
					minWidth: 960,
					columns: 3
				},
				{
					minWidth: 500,
					columns: 2
				},
				{
					minWidth: 0,
					columns: 1
				}
			]
		});

		$('#babylongrid3').babylongrid({
			display: 'tower'
		});

		$('#babylongrid4').babylongrid({
			display: 'city'
		});

	}(jQuery));

		</script>